<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sina_description)/xacros/lwa4p/common.xacro" />

  <xacro:macro name="schunk_lwa4p_transmission" params="name">

    <xacro:my_default_transmission jname="${name}_1"/>
    <xacro:my_default_transmission jname="${name}_2"/>
    <xacro:my_default_transmission jname="${name}_3"/>
    <xacro:my_default_transmission jname="${name}_4"/>
    <xacro:my_default_transmission jname="${name}_5"/>
    <xacro:my_default_transmission jname="${name}_6"/>

  </xacro:macro>

</robot>
